<h2 class="title"><a href="{{ root_url }}/app/" style="text-decoration: none">Apps</a></h2>
<hr>
<p>
<a href="https://itunes.apple.com/us/app/id948768793?mt=8">MarkText</a> - markdown text editor, $2.99.</br>
<a href="https://itunes.apple.com/us/app/id980936769?mt=8">PassCalc</a> - privacy file manager, $1.99.</br>
<a href="https://itunes.apple.com/us/app/id992485335?mt=8">SafeCalc</a> - privacy file manager, free!</br>
<a href="https://itunes.apple.com/us/app/id1106268104?mt=8">LockCam</a> - camera with lock, free!
</p>